<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6">
      <div>
        <button type="button" class="btn btn-outline-primary btn-lg" (click)="ShowExpenseForm()">
          <i class="fa fa-star"></i>&nbsp; Expense</button>
        <button type="button" class="btn btn-outline-success btn-lg" (click)="ShowIncomeForm()">
          <i class="fa fa-magic"></i>&nbsp; Income</button>
      </div>
      <br>
      <div class="card" *ngIf="_showForm">
        <form ngForm #t="ngForm" (ngSubmit)="saveTransaction(t)">
          <div class="card-header">
            <strong>{{FormName}}</strong> Form
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="Type">Transaction Type</label>
              <label>
                <strong>{{FormName}}</strong>
              </label>
              <!-- <span class="help-block">Description</span> -->
            </div>

            <div class="form-group">
              <label for="Name">{{FormName}} Creteria</label>
              <input type="text" id="Name" name="Name" ngModel #Name="ngModel" class="form-control" placeholder="Enter {{FormName}} creaiteria">
              <!-- <span class="help-block">Source of {{FormName}}</span> -->
            </div>
            <div class="form-group">
              <label for="nf-password">Description</label>
              <input type="text" id="Description" name="Description" ngModel #Description="ngModel" class="form-control" placeholder="Enter Description (Optional)">
              <!-- <span class="help-block">Description</span> -->
            </div>
            <div class="form-group">
              <label for="AssetId">From Account</label>
              <select [(ngModel)]="AssetId" id="AssetId" name="AssetId">
                <option *ngFor="let item of assetDropDown" ngValue="{{item.Id}}">{{item.AssetName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="date-field">Date of {{FormName}}</label>
              <input type="date" id="date-field" name="date-field" class="form-control" ngModel #Date="ngModel">
              <!-- <span class="help-block">Description</span> -->
            </div>
            <div class="form-group">
              <label for="Amount">Amount</label>
              <input type="text" id="Amount" name="Amount" ngModel #Amount="ngModel" class="form-control" placeholder="Enter Amount">
              <!-- <span class="help-block">Description</span> -->
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary">
              <i class="fa fa-dot-circle-o"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger">
              <i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>